# Cleaning up data to create uniform dataframe

## Import Dependencies

In [1]:
%matplotlib notebook

import matplotlib.pyplot  as plt
import pandas as pd
import numpy as np
import tweepy
import json
import datetime
import time
import pprint as pprint
import requests
import json
import sklearn.preprocessing as skl


from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

## Read Files into dataframes

In [7]:
twitter_file = '../Data_sources/twitter_sentiments.csv'
reddit_file = '../Data_sources/reddit_df.csv'
bitcoin_file = '../Data_sources/btc_historical.csv'

twitter_df = pd.read_csv(twitter_file)
reddit_df = pd.read_csv(reddit_file)
bitcoin_df = pd.read_csv(bitcoin_file)

#### view dataframes

In [10]:
bitcoin_df.head()

        Date  Open    High     Low  Close  Volume  Change % Change
0  7/15/2018   NaN  6378.0  6378.0   6362       0  104.94    1.68%
1  7/14/2018   NaN  6166.0  6166.0   6257       0   52.00    0.84%
2  7/13/2018   NaN  6166.0  6166.0   6205       0   82.72    1.35%
3  7/12/2018   NaN  6166.0  6166.0   6122       0 -253.70   -3.98%
4  7/11/2018   NaN  6368.0  6368.0   6376       0    6.85    0.11%